# Build intermediates
Release/*.obj
Release/*.pdb
Release/*.lib
Release/*.exp
Release/*.pvk
Release/*.pfx
Release/sparse-pkg/

# Keep the prebuilt release files
!Release/GitBashHere.dll
!Release/GitBashHere.appx
!Release/Key.cer
